Repository gcbest/today-i-learned: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run prettier:format, pnpx eslint . --fix --ext .js, pnpx eslint . --fix --ext .jsx, pnpx eslint . --fix --ext .ts, pnpx eslint . --fix --ext .tsx

Add new routes for testing | Update lint-staged
  .lintstagedrc.json
  src/pages/about.tsx
  src/pages/contact.tsx
Due: pnpm run prettier:format, pnpx eslint . --fix --ext .tsx

add postman tests
  __tests__/endpoints/pages.postman_collection.json
  __tests__/endpoints/staging.postman_environment.json
  vitest.config.ts
Due: pnpm run prettier:format, pnpx eslint . --fix --ext .ts

update postman env url
  __tests__/endpoints/staging.postman_environment.json
Due: none

CircleCI | Add API testing
  .circleci/config.yml
Due: none

CircleCI | Make hold job wait for post_deploy_staging
  .circleci/config.yml
Due: none

run unit tests on pre-push hook
  .circleci/config.yml
  .husky/pre-push
  __tests__/unit/Home.test.tsx
  package.json
Due: pnpm run prettier:format, pnpx eslint . --fix --ext .tsx

CircleCI | remove unit tests
  .circleci/config.yml
  __tests__/integration/Home.test.tsx
Due: pnpm run prettier:format, pnpx eslint . --fix --ext .tsx

CircleCI | ignore develop branch for lint, e2e, and integration tests
  .circleci/config.yml
Due: none

CircleCI | start with deploy for develop
  .circleci/config.yml
Due: none

E2E Testing | add helper devDependencies
  package.json
  pnpm-lock.yaml
Due: none

Testing | Replace Playwright with Cypress
  .eslintrc.json
  .gitignore
  __tests__/e2e/example.spec.ts
  cypress.config.ts
  cypress/e2e/routes.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/server/db/utils.ts
  tsconfig.json
Due: pnpm run prettier:format, pnpx eslint . --fix --ext .ts

Linting | Fix vitest override
  .eslintrc.json
  cypress/tsconfig.json
  tsconfig.json
  vitest.config.ts
Due: pnpm run prettier:format, pnpx eslint . --fix --ext .ts

CircleCI | pnpm install during lint | attach node modules to workspace
  .circleci/config.yml
Due: none

CircleCI | Replace playwright with cypress
  .circleci/config.yml
  .gitignore
  .husky/pre-push
  package.json
Due: none

CircleCI | Replace pnpm with npm | Add cypress orb
  .circleci/config.yml
  .husky/pre-push
  .lintstagedrc.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

update ci
  .circleci/config.yml
Due: none

fix next build
  src/pages/api/auth/[...nextauth].ts
Due: pnpm run prettier:format, pnpx eslint . --fix --ext .ts

CircleCI | split lint_test and build_deploy workflows
  .circleci/config.yml
Due: none

Replace pnpm with npm
  .husky/pre-commit
  package.json
Due: none

Path conditions:
  pnpm run prettier:format: (((any of: *.js) or (any of: *.jsx)) or (any of: *.ts)) or (any of: *.tsx)
  pnpx eslint . --fix --ext .js: any of: *.js
  pnpx eslint . --fix --ext .jsx: any of: *.jsx
  pnpx eslint . --fix --ext .ts: any of: *.ts
  pnpx eslint . --fix --ext .tsx: any of: *.tsx
